<h1>Muncher</h1>

<section class="search_form">
  <%= render "form" %>
</section>

<h2>Results for <%= @query %></h2>

<% if @recipes %>
  <ul>
    <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_show_path(recipe.id) %>
    </li>
    <% end %>
  </ul>
<% end %>
