<main class="homepage-page-wrapper">
  <div class="center">
    <header class="page-header">
      <h1>Muncher</h1>
      <p>Find your flavor...</p>
    </header>
    <section class="search_form">
      <%= render "form" %>
    </section>
  </div>
</main>
