.homepage-page-wrapper {
  // TODO: get this to fillout the rest of the page
}
.search_form {
  margin: 0 auto;
  text-align: right;
  max-width: 35%;
}

@media screen and (max-width: 600px) {
  .search_form {
    max-width: 80%;
  }
}
