@import "base/normalize.scss";
@import "base/_settings.scss";
@import "base/foundation_and_overrides.scss";
@import "styles/single-recipe.scss";
@import "styles/recipes.scss";
@import "styles/form.scss";
@import "styles/homepage.scss";

body {
  background-color: #f2f2f2;
}

.credit {
  background-color: #b3b3b3;
  padding: 2% 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
}
